.main-nav{
    display:flex;
    height: 50px;
    background-color:rgb(125, 125, 174);
    justify-content: space-between;
    align-items: center;
    
}
li {
border-right: 2px solid white;
align-items: center;


}
li:last-of-type{
    border:none
}


ul{
    list-style: none;
}
.horizontal{
    align-items: center;
}

.sub-nav{
    display:flex;
    justify-content: space-between;
    
}
.sub-nav form input{
    font-size: large;
    display:flex;
    padding: 5px 5px 5px 5px;
    justify-content: center;
    margin: 10px 5px 5px 5px;
    border-radius: 20px;
    flex-grow: 1;
}
.sub-nav form button{
    margin: 10px 5px 5px 5px;
    border-radius: 20px;
    background-color:rgb(15, 15, 195);
    padding: 5px 5px 3px 3px;
    color: white;
    align-items: center;
}
.search-form{
    display:flex;
    flex-grow:1;

}

.full-width li a{
    color: white;
    padding: 5px 15px 5px 15px;
}
.short-width li a{
    color: white;
    padding: 5px 15px 5px 15px;
}
.full-width{
    display: flex;
    align-items: center;
}
.short-width{
    display:flex;
    align-items:center;

}
@media (min-width:768px){
    .full-width { 
        display:flex;
    }
    .short-width {
        display:none;
    }
}

@media (max-width:768px){
    .full-width {
        display:none;
    }
    .short-width {
        display:flex
    }
}

.nav-list{
    display:flex;
    flex-direction: row;
    color:white;
    border-right: 1px;
    

}
.nav-list li a{ 
    color:white;
    padding: 5px 15px 5px 15px;
   

}
.nav-list li:last-of-type a { 
    border:none
 }
 .company-name{
    display:flex;
    font-family: cursive;
    font-size:50px;
    color: rgb(15, 15, 195);
    margin: 2px 20px 2px 15px;

}
.credit-offer{
    background-color: red;
    margin: 10px 5px 5px 5px;
    padding: 5px 10px 5px 10px;
    color:white;
    display:flex;
    align-items: center;
   justify-content: center;
   border-radius: 20px;



}